<div class="bdsharebuttonbox">
	<a href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Flocalhost%3A4000%2F2019%2F04%2F25%2FNews%2F%230-tsina-1-66468-397232819ff9a47a7b7e80a40613cfe1&title=News%20%7C%20Jinlong%20Jiao&appkey=1343713053&searchPic=true" class="fx fa-weibo bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
	<a href="#" class="fx fa-weixin bds_weixin" data-cmd="weixin" title="分享到微信"></a>
	<a href="https://connect.qq.com/widget/shareqq/index.html?url=http%3A%2F%2Flocalhost%3A4000%2F2019%2F04%2F25%2FNews%2F%230-sqq-1-34001-9737f6f9e09dfaf5d3fd14d775bfee85&title=News%20%7C%20Jinlong%20Jiao&desc=&summary=&site=baidu" class="fx fa-qq bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
	<a href="https://www.facebook.com/" class="fx fa-facebook-official bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
	<a href="https://twitter.com/intent/tweet?text=News+%7C+Jinlong+Jiaohttp%3A%2F%2Flocalhost%3A4000%2F2019%2F04%2F25%2FNews%2F%230-twi-1-50960-7250227817ecdff034dc9540e6c76667&pic=" class="fx fa-twitter bds_twi" data-cmd="twi" title="分享到Twitter"></a>
	<a href="https://www.linkedin.com/m/login/" class="fx fa-linkedin bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
	<a href="#" class="fx fa-files-o bds_copy" data-cmd="copy" title="分享到复制网址"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
